
#topHeader, main > section{
    margin: auto;
    margin-bottom: 2vh;
    border: 1px solid black;
    border-radius: 25px;
    width: 95vw;
}

#profilbilde {
    height: 30vh; 
    width: auto;
}

#topHeader > section {
    display: flex;
    align-items: center;
    align-content: stretch;
    justify-content: space-evenly;
    border: 1px solid black;
}

/* figure {
    flex-grow: 1;
} */

h1, h2{
    text-align: center;
}

ul {
    list-style-type: none;
    text-align: center;
    border: 1px solid black;
    /* flex-grow: 2; */
}

li {
    display: inline;
    font-size: 1.5em;
    margin: 2vh;
}

main > section > section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2vh;
}

main > section > section > article {
    display: inline-block;
    border: 1px solid black;
    border-radius: 25px;
    margin: 2vh;
    width: 20vw;
    text-align: center;
}



@media screen and (max-width: 768px){
    main > section > section > article {
        width: 40vw;
    }
}

@media screen and (max-width: 380px){
    main > section > section > article {
        width: 450vw;
    }
}